html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.daw-ad {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 21.32451%;
  border: thin solid #ccc; }
  .daw-ad:last-child {
    margin-right: 0; }
  .daw-ad .ad-image {
    overflow: hidden;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
    height: 300px; }
    .daw-ad .ad-image:last-child {
      margin-right: 0; }
