html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.daw-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .daw-container::after {
    clear: both;
    content: "";
    display: block; }
  .daw-container .daw-row {
    display: block; }
    .daw-container .daw-row::after {
      clear: both;
      content: "";
      display: block; }
