.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.daw-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .daw-container::after {
    clear: both;
    content: "";
    display: block; }
  .daw-container .daw-row {
    display: block; }
    .daw-container .daw-row::after {
      clear: both;
      content: "";
      display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.daw-asciiItem {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 17.72593%;
  border: thin solid #ccc;
  padding: 15px;
  overflow: hidden;
  height: 300px; }
  .daw-asciiItem:last-child {
    margin-right: 0; }
  .daw-asciiItem .daw-face {
    margin: 0px auto;
    display: inline-block;
    white-space: nowrap; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.daw-ad {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 48.57871%;
  margin-left: 25.71065%;
  border: thin solid #ccc; }
  .daw-ad:last-child {
    margin-right: 0; }
  .daw-ad .ad-image {
    overflow: hidden;
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 22.86806%;
    height: 300px; }
    .daw-ad .ad-image:last-child {
      margin-right: 0; }

.m_R-0 {
  margin-right: 0px !important; }

@font-face {
  font-family: 'heebolight';
  src: url("../fonts/Heebo/heebo-light-webfont.woff2") format("woff2"), url("../fonts/Heebo/heebo-light-webfont.woff") format("woff"), url("../fonts/Heebo/Heebo-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'heebolight', sans-serif; }
