@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn; }

.width100 {
  width: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.daw-button {
  background-color: #eed93e;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.daw-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .daw-container::after {
    clear: both;
    content: "";
    display: block; }
  .daw-container .daw-row {
    display: block; }
    .daw-container .daw-row::after {
      clear: both;
      content: "";
      display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn; }

.width100 {
  width: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.daw-button {
  background-color: #eed93e;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px; }

.daw-asciiItem {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
  border: thin solid #ccc;
  padding: 15px;
  overflow: hidden;
  height: 275px;
  background-color: white; }
  .daw-asciiItem:last-child {
    margin-right: 0; }
  .daw-asciiItem .daw-face {
    display: block;
    white-space: nowrap;
    line-height: 100px;
    background-color: #e1f5f7;
    color: #666;
    text-align: center;
    margin: -20px -20px 10px;
    padding: 20px; }
  .daw-asciiItem p {
    font-size: 0.9em; }

.loadingGIF {
  overflow: hidden;
  height: 100px;
  width: 100px;
  margin: 10px auto; }
  .loadingGIF:before,
  .loadingGIF :after {
    content: "\f111";
    position: absolute;
    font: normal normal normal 14px/1 'FontAwesome'; }
  .loadingGIF img {
    height: 100%;
    margin-left: -10%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn; }

.width100 {
  width: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.daw-button {
  background-color: #eed93e;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px; }

.daw-ad-row {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 100%; }
  .daw-ad-row:last-child {
    margin-right: 0; }
  .daw-ad-row .daw-ad {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    margin-left: 25.89467%;
    border: thin solid #ccc;
    background-color: white;
    padding-right: 20px; }
    .daw-ad-row .daw-ad:last-child {
      margin-right: 0; }
    .daw-ad-row .daw-ad .ad-image {
      overflow: hidden;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 35.26333%;
      height: 200px; }
      .daw-ad-row .daw-ad .ad-image:last-child {
        margin-right: 0; }
      .daw-ad-row .daw-ad .ad-image img {
        height: 100%;
        min-width: 100%;
        margin-left: -20%; }
    .daw-ad-row .daw-ad .ad-text {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 61.158%;
      position: relative; }
      .daw-ad-row .daw-ad .ad-text:last-child {
        margin-right: 0; }
      .daw-ad-row .daw-ad .ad-text .ad-logo {
        position: absolute;
        width: 120px;
        right: 0px;
        top: 20px; }

.daw-ad-intro {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  margin-left: 25.89467%;
  margin-top: 0px;
  margin-bottom: 0px; }
  .daw-ad-intro:last-child {
    margin-right: 0; }

.hide {
  display: none; }

.animated {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn; }

.width100 {
  width: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.daw-button {
  background-color: #eed93e;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px; }

.m_T-0 {
  margin-top: 0px !important; }

.m_R-0 {
  margin-right: 0px !important; }

.m_V-0 {
  margin-bottom: 0;
  margin-top: 0; }

.m_V-2x {
  margin-bottom: 20px;
  margin-top: 20px; }

.p_All-2x {
  padding: 20px; }

.p_B-4x {
  padding-bottom: 40px; }

.p_B-2x {
  padding-bottom: 20px; }

@font-face {
  font-family: 'heebolight';
  src: url("../fonts/Heebo/heebo-light-webfont.woff2") format("woff2"), url("../fonts/Heebo/heebo-light-webfont.woff") format("woff"), url("../fonts/Heebo/Heebo-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-image: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/3/3519.png?1197407690);
  background-color: #fef492;
  font-family: 'heebolight', sans-serif; }
  body nav {
    font-family: 'Share Tech Mono';
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0;
    background-color: #0f7303;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 3.75em;
    height: 70px;
    width: 100%;
    z-index: 5;
    box-shadow: 2px 0 4px #000; }
    body nav img {
      height: 50px;
      margin-top: 10px;
      margin-right: 7px; }
    body nav.sticky {
      position: fixed;
      top: -10px; }
  body header {
    background-color: white;
    padding: 40px;
    margin-top: 90px; }
    body header h1 {
      font-family: 'Share Tech Mono';
      margin-top: 0px;
      color: #1c0080; }
    body header p {
      font-size: 1.5em;
      line-height: 1.5em; }
  body footer {
    background-color: #eed93e;
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px; }
  body label {
    font-size: 1rem; }
  body #asciiApp {
    background-color: rgba(255, 255, 255, 0.92); }
