@import 'bourbon';

$grey: #ccc;
// globals
.hide {
    display: none;
}

.animated {
    @include animation-duration(2s);
    @include animation-fill-mode(both);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    @include animation-name(fadeIn);
}
