@import 'bourbon';
$spacingunit:10px;

$grey: #ccc;
$color-blue: #e1f5f7;
$color-purple: #1c0080;
$color-green: #0f7303;
$color-yellow: #eed93e;
// globals
.hide {
    display: none;
}

.animated {
    @include animation-duration(2s);
    @include animation-fill-mode(both);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    @include animation-name(fadeIn);
}
.width100{
	width: 100%;
}
.pull-left{
	float: left
}
.pull-right{
	float: right
}
.daw-button{
	background-color: $color-yellow;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
}
