@import 'neat','theme';
.daw-ad-row{
	@include span-columns(8);

	.daw-ad{
		@include span-columns(4);
		@include shift(2);
		border:thin solid $grey;
		background-color: white;
		padding-right: $spacingunit * 2;
		.ad-image{
			overflow: hidden;
			@include span-columns(3);
			height: 200px;
			img{
				height: 100%;
				min-width: 100%;
				margin-left: -20%;
			}

		}
		.ad-text{
			@include span-columns(5);
			position: relative;
			.ad-logo{
				position: absolute;
				width: 120px;
				right: 0px;
				top: 20px;
			}
		}

}
}

.daw-ad-intro{
		@include span-columns(4);
		@include shift(2);
		margin-top:0px;
		margin-bottom:0px;
	}
