@import
	'neat',
	'theme';

.daw-asciiItem{
	@include span-columns(2);
	border: thin solid $grey;
	padding: 15px;
	overflow: hidden;
	height: 300px;
	.daw-face{
		margin:0px auto;
		display:inline-block;
		white-space: nowrap;
	}
}
.loadingGIF{
	overflow: hidden;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin: 10px auto;
	&:before,
	:after{
		content: "\f111";
		position: absolute;
		font: normal normal normal 14px/1 'FontAwesome';
	}
	img{
		height:100%;
		margin-left: -10%;
	}

}
