@import
	'neat',
	'theme';

.daw-asciiItem{
	@include span-columns(2);
	border: thin solid $grey;
	padding: 15px;
	overflow: hidden;
	height: 275px;
	background-color: white;
	.daw-face{
	    display: block;
	    white-space: nowrap;
	    line-height: 100px;
	    background-color: $color-blue;
	    color: #666;
	    text-align: center;
	    margin: (-$spacingunit * 2) (-$spacingunit * 2) ($spacingunit);
	    padding:20px;
	}
	p{
		font-size: 0.9em;
	}
}
.loadingGIF{
	overflow: hidden;
	height: 100px;
	width: 100px;

	margin: 10px auto;
	&:before,
	:after{
		content: "\f111";
		position: absolute;
		font: normal normal normal 14px/1 'FontAwesome';
	}
	img{
		height:100%;
		margin-left: -10%;
	}

}
